<a href="https://colab.research.google.com/github/oluwatimmyOrigin/collab-ML-playground/blob/main/firstplayaround.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('let\'s' + 'fecking' + 'go')

let'sfeckinggo

In [ ]:
first_name="miles"
print('good morning {}' .format(first_name))
print("hello {} you are +{} today" .format(first_name,2))
print("hello " +first_name)

good morning miles
hello miles you are +2 today
hello miles

In [ ]:
print(f"hello {first_name}")

hello miles

In [ ]:
x = 7
y =10

if x+y == 16:
    print('yes')
elif

no

In [ ]:
x=55
y=55

if x>y:
  print(f'yes {x} is greater than {y}')
elif x<y:
  print('no')
else:
  print('maybe')

maybe

In [ ]:
Age=[12,15,17,44,13,16]

print(f'{(min(Age))} is the smallest of the ages')
print(f'{(max(Age))} is the biggest of the ages')
print(f'{(sum(Age)/len(Age))} is the average of the ages')

12 is the smallest of the ages
44 is the biggest of the ages
19.5 is the average of the ages

In [ ]:
name='badassmofecker'
chars = list(name)
print(chars[4])

TypeError: 'list' object is not callable

In [ ]:
name='badassmofecker'
# Reset the 'list' variable to the built-in function.
list = __builtins__.list
# or simply rename the variable to something other than 'list' for instance 'my_list'
chars = list(name)
print(chars[0])

b

In [ ]:
school='OAU'
list1=list(school)
print(list1[2])

U

In [ ]:
colors_set={'red','blue','green','red'}
print(colors_set)

{'blue', 'red', 'green'}

In [ ]:
len(colors_set)

3

In [ ]:
colors_set1={'red','blue','green'}
colors_set2={'red','blue','green','yellow'}
colors_set1.issuperset(colors_set2)

False

In [ ]:
print(colors_set1.union(colors_set2))

{'blue', 'red', 'green', 'yellow'}

In [ ]:
print(colors_set1.symmetric_difference(colors_set2))

{'yellow'}

In [ ]:
print(colors_set2.difference(colors_set1))

{'yellow'}

In [ ]:
print(f'{(colors_set1 | colors_set2)} is the union of the sets')

{'blue', 'red', 'green', 'yellow'} is the union of the sets

In [ ]:
def hello():
    print('hello')
hello()

hello

In [ ]:
def hello(name):
    print(f'hello {name}')
hello('miles')

SyntaxError: expected ':' (<ipython-input-2-b3191dcdf827>, line 5)

In [ ]:
def hello(name):
    print('Hello', name)
    print("how are you doing\'s today?\n")

hello('miles')

for i in range(5):
  hello('miles')

Hello miles
how are you doing's today?

Hello miles
how are you doing's today?

Hello miles
how are you doing's today?

Hello miles
how are you doing's today?

Hello miles
how are you doing's today?

Hello miles
how are you doing's today?

In [ ]:
def func(name,job):
  print(f'hello😁, i am {name}, and i am a {job}.\n')
func('miles','student')
func('Tolu','teacher')
func('John','driver')

hello😁, i am miles, and i am a student.

hello😁, i am Tolu, and i am a teacher.

hello😁, i am John, and i am a driver.

In [ ]:
def funct(name,job='student'):
  print(f'hello😁, i am {name}, and i am a {job}.\n')
funct('miles')
funct(job='Tolu',name='teacher')

hello😁, i am miles, and i am a student.

hello😁, i am teacher, and i am a Tolu.

In [ ]:
def print_argument(*args):
  print(args)
print_argument(12,15,17,44,13,16)

(12, 15, 17, 44, 13, 16)

In [ ]:
def user_info(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

name = input("Enter your name: ")
dob = input("Enter your date of birth: ")
age = input("Enter your age: ")
place_of_work = input("Enter your place of work: ")

user_info(name=name, date_of_birth=dob, age=age, place_of_work=place_of_work)

In [ ]:
def opps(a,b):
  print(f'the sum of {a} and {b} is {a+b}\n')
  print(f'the difference of {a} and {b} is {a-b}\n')
  print(f'the product of {a} and {b} is {a*b}\n')
  print(f'the quotient of {a} and {b} is {a/b}\n\n\n\n')
opps(1,2)
opps(2,1)
opps(2,2)

the sum of 1 and 2 is 3

the difference of 1 and 2 is -1

the product of 1 and 2 is 2

the quotient of 1 and 2 is 0.5




the sum of 2 and 1 is 3

the difference of 2 and 1 is 1

the product of 2 and 1 is 2

the quotient of 2 and 1 is 2.0




the sum of 2 and 2 is 4

the difference of 2 and 2 is 0

the product of 2 and 2 is 4

the quotient of 2 and 2 is 1.0

In [ ]:
def sum(a,b):
  return a+b
x=(sum(1,2))
print(x)

3

In [ ]:
help(hello)

Help on function hello in module __main__:

hello(name)

In [ ]:
import math
print(math.pow(4,4))

256.0

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import random

def generate_newborn_data(num_newborns):
    newborn_data = []  # Initialize newborn_data here
    for _ in range(num_newborns):
        newborn = {
            'First Name': random.choice(['Alice', 'Bob', 'Charlie', 'Dave', 'Eve']),
            'Last Name': random.choice(['Smith', 'Jones', 'Williams', 'Brown', 'Davis']),
            'Birth Date': f"{random.randint(1, 28)}/{random.randint(1, 12)}/2024",  # Placeholder date
            'Birth Time': f"{random.randint(0, 23)}:{random.randint(0, 59)}",  # Placeholder time
            'Birth Weight (kg)': round(random.uniform(2.5, 4.0), 1),
            'Birth Length (cm)': random.randint(45, 55),
            'Hospital': random.choice(['City Hospital', 'County Hospital', 'General Hospital']),
            'Gender': random.choice(['Male', 'Female']),
            'Mother\'s Age': random.randint(18, 45)
        }
        newborn_data.append(newborn)
    return newborn_data  # Correct indentation

# Generate data for 10 newborns
newborns = generate_newborn_data(10)

# Create a Pandas DataFrame
df = pd.DataFrame(newborns)
df

,First Name,Last Name,Birth Date,Birth Time,Birth Weight (kg),Birth Length (cm),Hospital,Gender,Mother's Age
0,Charlie,Brown,22/2/2024,12:54,3.3,47,County Hospital,Female,45
1,Eve,Davis,25/2/2024,12:18,3.2,50,County Hospital,Male,20
2,Eve,Smith,27/5/2024,9:9,3.5,54,General Hospital,Female,18
3,Alice,Brown,18/9/2024,19:57,3.5,52,City Hospital,Female,45
4,Charlie,Smith,2/7/2024,1:31,3.0,52,County Hospital,Female,36
5,Alice,Jones,25/12/2024,21:30,2.8,52,County Hospital,Female,30
6,Charlie,Smith,21/11/2024,22:1,2.8,49,General Hospital,Female,38
7,Eve,Jones,13/6/2024,11:48,3.8,45,General Hospital,Male,25
8,Alice,Brown,22/7/2024,23:13,3.8,50,County Hospital,Male,21
9,Alice,Williams,5/2/2024,0:16,2.9,48,General Hospital,Female,37

In [ ]:
df.dtypes

First Name            object
Last Name             object
Birth Date            object
Birth Time            object
Birth Weight (kg)    float64
Birth Length (cm)      int64
Hospital              object
Gender                object
Mother's Age           int64
dtype: object

x = 3

while x>0:

  print(x)

  x = x+1

print("go!")